<div class="hero-foot">
  <div class="container">
    <div class="tabs is-fullwidth is-size-7-mobile">
      <ul>
        <li>
          <label for="section1">
            <a>
              <div class="columns has-text-centered">
                <div class="column">
                  <span class="icon is-medium-touch"><i class="fa fa-star fa-lg"></i></span>
                </div>
                <div class="column">
                  <span>Novedades</span>
                </div>
              </div>
            </a>
          </label>
        <li>
          <label for="section3">
            <a>
              <div class="columns has-text-centered">
                <div class="column">
                  <span class="icon is-medium-touch"><i class="fa fa-users fa-lg"></i></span>
                </div>
                <div class="column">
                  <span>Comunidad</span>
                </div>
              </div>
            </a>
          </label>
        <li>
          <label for="webpages">
            <a>
              <div class="columns has-text-centered">
                <div class="column">
                  <span class="icon is-medium-touch"><i class="fa fa-building fa-lg"></i></span>
                </div>
                <div class="column">
                  <span>Facultades</span>
                </div>
              </div>
            </a>
          </label>
        <li>
          <label for="section2">
            <a>
              <div class="columns has-text-centered">
                <div class="column">
                  <span class="icon is-medium-touch"><i class="fa fa-paw fa-lg"></i></span>
                </div>
                <div class="column">
                  <span>Gatetes</span>
                </div>
              </div>
            </a>
          </label>
      </ul>
    </div>
  </div>
</div>
