<div class="hero-body">
  <div class="container">
    <div class="columns is-mobile">
      <div class="column">
        <p class="control has-icons-left">
          <a class="button is-fullwidth is-warning" href="https://oficinavirtual.ugr.es">
            <span>Acceso identificado</span>
          </a>
          <span class="icon is-left has-text-dark"><i class="fa fa-user"></i></span>
        </p>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column">
        <p class="control has-icons-left">
          <a class="button is-fullwidth" href="https://prado.ugr.es/moodle/auth/saml/index.php">
            <span>PRADO</span>
          </a>
          <span class="icon is-left has-text-dark"><i class="fa fa-graduation-cap"></i></span>
        </p>
      </div>
      <div class="column">
        <p class="control has-icons-left">
          <a class="button is-fullwidth" href="https://swad.ugr.es">
            <span>SWAD</span>
          </a>
          <span class="icon is-left has-text-dark"><i class="fa fa-book"></i></span>
        </p>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column">
        <p class="control has-icons-left">
          <a class="button is-fullwidth" href="https://ciges.ugr.es">
            <span>CIGES</span>
          </a>
          <span class="icon is-left has-text-dark"><i class="fa fa-qrcode"></i></span>
        </p>
      </div>
      <div class="column">
        <div class="field has-addons">
          <p class="control is-expanded has-icons-left">
            <a class="button is-fullwidth" href="http://scu.ugr.es" title="Menú de comedores">
              <span>Menú</span>
            </a>
            <span class="icon is-left has-text-dark"><i class="fa fa-cutlery"></i></span>
          </p>
          <p class="control">
            <a class="button" href="http://scu.ugr.es/pages/menu/llevar/menus" title="Menú para llevar">
              <span class="icon has-text-dark"><i class="fa fa-shopping-bag"></i></span>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column">
        <p class="control has-icons-left">
          <a class="button is-fullwidth" href="https://www.openstreetmap.org/#map=15/37.1824/-3.6077&layers=T">
            <span>Mapas</span>
          </a>
          <span class="icon is-left has-text-dark"><i class="fa fa-map-marker"></i></span>
        </p>
      </div>
      <div class="column">
        <div class="field has-addons">
          <p class="control is-expanded has-icons-left">
            <a class="button is-fullwidth" href="https://webmailest.ugr.es/">
              <span>Correo</span>
            </a>
            <span class="icon is-left has-text-dark"><i class="fa fa-envelope"></i></span>
          </p>
          <p class="control">
            <a class="button" href="https://t.me/joinchat/BIB1oESAyR7kpoMESPeSOA" title="Telegram">
              <span class="icon has-text-dark"><i class="fa fa-telegram"></i></span>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column">
        <p class="control has-icons-left">
          <a class="button is-fullwidth is-info" href="{{ site.baseurl }}/tui">
            <span>Tarjeta Universitaria Inteligente</span>
          </a>
          <span class="icon is-left"><i class="fa fa-id-card"></i></span>
        </p>
      </div>
    </div>
  </div>
</div>
