<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="card">
          <div class="card-image">
            <a class="button is-fullwidth twitter-timeline" data-lang="es" data-height="600" data-dnt="true" href="https://twitter.com/hashtag/eugr" data-widget-id="916283547362656256">
              <span class="icon"><i class="fa fa-twitter"></i></span>
              <span>Tweets sobre #eUGR</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
