---
---

body {
    background: #eaeaea;
}

a {
    color: #03A9F4;
}

.navbar.is-fixed {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;
}

.hero.is-info, .button.is-info {
    background: #03A9F4;
}
.button.is-info:hover {
    background: darken(#03A9F4, 2%);
}

.links {
    background: url("../img/pts1.jpg");
    background-size: cover;
    background-position: center;
}

#navbar-show:checked + .navbar-menu {
    display: block;
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.4);
}

label:focus {
    color: red;
}

.section-selector:not(:checked) + section {
    display: none;
}

.inner-text {
    max-width: 45em;
    margin: 0;
}

.twitter-timeline-rendered {
    width: 100% !important;
}

.tabs {
    border: solid rgba(255,255,255,0.2);
    border-width: 1px 1px 0 1px;
    background: rgba(0,0,0,0.2);

    @media screen and (max-width: 768px) {
        a .column:first-child {
            padding-bottom: 0;
        }

        a .column:last-child {
            padding-top: 0;
        }
    }
}

.barcode {
    width: 100%;
}
