---
layout: default
title: TUI
permalink: tui
include_folder: tui
---

<div class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <p class="title is-2">TUI digital</p>
    </div>
  </div>
</div>

<section class="section">
  <div class="container">
    {% include {{page.include_folder}}/barcode.html %}

    <br>
    {% include {{page.include_folder}}/card_photo.html %}

    <br>
  </div>
</section>

<script type="text/javascript" src="{{ site.baseurl }}/assets/js/JsBarcode.code39.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/assets/js/tui.js"></script>
