<div class="hero">
  <div class="hero-body">
    <div class="container">
      <p class="title is-3">Ahora ya sabes por qué</p>
      <p class="subtitle is-6">
        Cuéntaselo a todo el mundo. Te lo ponemos fácil:
      </p>
      <p>
        <a href="https://twitter.com/intent/tweet?text=Estoy%20usando%20%23eugr%20para%20acceder%20a%20los%20servicios%20de%20%40canalugr&url=https%3A%2F%2Fe-ugr.github.io" class="button">
          <span class="icon">
            <i class="fa fa-twitter"></i>
          </span>
          <span>Twitter</span>
        </a>
        <a href="whatsapp://send/?text=Estoy%20usando%20%23eugr%20para%20acceder%20a%20los%20servicios%20de%20la%20UGR%20https%3A%2F%2Fe-ugr.github.io" class="button">
          <span class="icon">
            <i class="fa fa-whatsapp"></i>
          </span>
          <span>Whatsapp</span>
        </a>
        <a href="https://t.me/share/url?url=https%3A%2F%2Fe-ugr.github.io&text=Estoy%20usando%20%23eugr%20para%20acceder%20a%20los%20servicios%20de%20la%20UGR" class="button">
          <span class="icon">
            <i class="fa fa-telegram"></i>
          </span>
          <span>Telegram</span>
        </a>
      </p>
    </div>
  </div>
</div>
