---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:dnt" content="on">
    <title>{{ page.title }} - {{ site.title }}</title>
    <!-- W3C web app -->
    <link rel="manifest" href="{{ site.baseurl }}/manifest.json">
    <!-- Old Chrome web app -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#363636"/>
    <link rel="icon" sizes="192x192" href="{{ site.baseurl }}/assets/img/icon-192x192.png">
    <!-- iOS web app -->
    <meta name="apple-mobile-web-app-title" content="#eugr">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/assets/img/icon-96x96.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/img/icon-144x144.png">
    <link rel="apple-touch-icon" sizes="192x192" href="{{ site.baseurl }}/assets/img/icon-192x192.png">
    <!-- Style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico">
  </head>
  <body>
    <nav class="navbar is-dark is-fixed" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ site.baseurl }}/">
            {{ site.title }}
          </a>

          <label class="button is-dark navbar-burger" for="navbar-show">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        <input type="checkbox" id="navbar-show" hidden>
        <div class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="{{ site.baseurl }}/">
              <span class="icon"><i class="fa fa-home"></i></span>
              <span>Inicio</span>
            </a>
            <a class="navbar-item" href="{{ site.baseurl }}/install">
              <span class="icon"><i class="fa fa-cog"></i></span>
              <span>Instalar</span>
            </a>
            <a class="navbar-item" href="{{ site.baseurl }}/about">
              <span class="icon"><i class="fa fa-question"></i></span>
              <span>Acerca de</span>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="{{ site.baseurl }}/">
            {{ site.title }}
          </a>

          <label class="button is-dark navbar-burger">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        <input type="checkbox" hidden>
        <div class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="{{ site.baseurl }}/">
              <span class="icon"><i class="fa fa-home"></i></span>
              <span>Inicio</span>
            </a>
            <a class="navbar-item" href="{{ site.baseurl }}/install">
              <span class="icon"><i class="fa fa-cog"></i></span>
              <span>Instalar</span>
            </a>
            <a class="navbar-item" href="{{ site.baseurl }}/about">
              <span class="icon"><i class="fa fa-question"></i></span>
              <span>Acerca de</span>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <main class="main">
      {{ content }}
    </main>

    <footer class="footer">
      <div class="container">
        <div class="columns">
          <div class="column">
            <p>&copy; 2017 {{ site.title }}. </p>
            <p>Esta página es <a href="https://es.wikipedia.org/wiki/Software_libre">software libre</a>: si quieres estudiarla o mejorarla, <a href="https://github.com/e-ugr/e-ugr.github.io">el código está disponible en GitHub</a>. Esta <strong>no es una página oficial</strong> de la {{ site.university }} ni guarda relación con ella.</p>
          </div>
          <div class="column has-text-right">
            <a href="https://twitter.com/intent/tweet?text=Estoy%20usando%20%23eugr%20para%20acceder%20a%20los%20servicios%20de%20%40canalugr&url=https%3A%2F%2Fe-ugr.github.io">
              <span class="icon is-medium">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </span>
            </a>
            <a href="whatsapp://send/?text=Estoy%20usando%20%23eugr%20para%20acceder%20a%20los%20servicios%20de%20la%20UGR%20https%3A%2F%2Fe-ugr.github.io">
              <span class="icon is-medium">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
                </span>
              </span>
            </a>
            <a href="https://t.me/share/url?url=https%3A%2F%2Fe-ugr.github.io&text=Estoy%20usando%20%23eugr%20para%20acceder%20a%20los%20servicios%20de%20la%20UGR">
              <span class="icon is-medium">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-telegram fa-stack-1x fa-inverse"></i>
                </span>
              </span>
            </a>

          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
